@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap";
button {
  font-family: inherit;
  font-style: inherit;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}
.header-site {
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 21px;
}
@media screen and (min-width: 768px) {
  .header-site {
    padding-top: 11px;
    height: 60px;
  }
}
.header-site-background {
  background-color: rgba(0, 0, 0, 0.8);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms;
}
.logo svg {
  width: 40px;
  height: 35px;
  fill: #28a745;
}
.logo > span {
  margin-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: #28a745;
}
@media screen and (min-width: 768px) {
  .logo > span {
    font-size: 35px;
  }
}
.logo > span span {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo > span span {
    margin-left: 5px;
  }
}
.logo:hover, .logo:focus {
  transform: scale(1.1);
}
.header-links-pages {
  margin-top: 10px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-links-pages a {
  color: #ffffff;
}
.header-links-pages a:hover, .header-links-pages a:focus, .header-links-pages a:active {
  outline: none;
  color: #ffffff;
}
.header-links-pages a:hover, .header-links-pages a:focus {
  border-bottom: 3px solid #28a745;
}
@media screen and (min-width: 768px) {
  .header-links-pages {
    width: 330px;
    margin: 0px;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1360px) {
  .header-links-pages {
    width: 510px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    width: 690px;
  }
}
@media screen and (min-width: 1360px) {
  .header-nav {
    width: 1265px;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 144px;
  padding-bottom: 95px;
  color: #ffffff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("showcase.04e29b30.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("showcase@2x.909c3256.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 407px;
    padding-bottom: 412px;
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    padding-top: 279px;
    padding-bottom: 284px;
  }
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  margin: 0px;
  text-align: center;
  color: #e9e9e9;
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 66px;
}
.hero h2 {
  margin: 0px;
  margin-top: 16px;
  text-align: center;
  color: #e9e9e9;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 37px;
}
.hero button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  width: 156px;
  height: 45px;
  background: #28a745;
  border-radius: 4px;
  border: 0px;
  padding: 0px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero button svg {
  width: 9px;
  height: 18px;
  fill: #ffffff;
}
.hero button span {
  margin-left: 5px;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (min-width: 768px) {
  .hero button {
    width: 165px;
    height: 48px;
  }
  .hero button span {
    font-size: 18px;
    line-height: 28px;
  }
}
.hero button:hover, .hero button:focus {
  background: #e9e9e9;
}
.hero button:hover svg, .hero button:focus svg {
  fill: #28a745;
}
.hero button:hover span, .hero button:focus span {
  color: #28a745;
}
.agency {
  padding-top: 30px;
  padding-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .agency {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1360px) {
  .agency {
    padding-bottom: 20px;
  }
}
.agency-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.agency-list li {
  flex: 0 1 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agency-list li:not(:first-child) {
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .agency-list {
    width: 100%;
    justify-content: space-around;
  }
  .agency-list li {
    flex: 0 1 195px;
  }
  .agency-list li:not(:first-child) {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1360px) {
  .agency-list li {
    flex: 0 1 360px;
  }
}
.agency-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #28a745;
}
.agency-logo svg {
  width: 34px;
  height: 34px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .agency-logo svg {
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 768px) {
  .agency-logo {
    width: 67px;
    height: 67px;
  }
}
.agency-title {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .agency-title {
    margin-top: 15px;
    font-size: 20px;
    line-height: 33px;
  }
}
.agency-text {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .agency-text {
    font-size: 18px;
    line-height: 28px;
  }
}
.solutions-content-text {
  padding: 30px;
  background-color: #28a745;
}
@media screen and (min-width: 768px) {
  .solutions-content-text {
    width: 324px;
  }
}
@media screen and (min-width: 1360px) {
  .solutions-content-text {
    width: 620px;
    padding: 84px 30px 84px 30px;
  }
}
.solutions-content-text h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .solutions-content-text h3 {
    font-size: 20px;
    line-height: 33px;
  }
}
.solutions-content-text h2 {
  margin-top: 5px;
  width: 204px;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
}
@media screen and (min-width: 1360px) {
  .solutions-content-text h2 {
    width: 540px;
  }
}
.solutions-content-text p {
  margin-top: 25px;
  margin-bottom: 14px;
  width: 260px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .solutions-content-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    width: 315px;
  }
}
@media screen and (min-width: 1360px) {
  .solutions-content-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 17px;
    width: 600px;
  }
}
.solutions-content-text button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 47px;
  background-color: #28a745;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
.solutions-content-text button span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .solutions-content-text button {
    width: 167px;
    height: 50px;
  }
  .solutions-content-text button span {
    font-size: 18px;
    line-height: 28px;
  }
}
.solutions-content-text button:hover, .solutions-content-text button:focus {
  background: #e9e9e9;
}
.solutions-content-text button:hover svg, .solutions-content-text button:focus svg {
  fill: #28a745;
}
.solutions-content-text button:hover span, .solutions-content-text button:focus span {
  color: #28a745;
}
@media screen and (min-width: 768px) {
  .solutions-content {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .solutions-content-img {
    width: 384px;
  }
  .solutions-content-img img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 1360px) {
  .solutions-content-img {
    width: 680px;
  }
}
.blog-content-text {
  padding: 30px;
  background-color: #0284d0;
}
@media screen and (min-width: 768px) {
  .blog-content-text {
    width: 324px;
  }
}
@media screen and (min-width: 1360px) {
  .blog-content-text {
    width: 620px;
    padding: 112px 30px 112px 30px;
  }
}
.blog-content-text h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .blog-content-text h3 {
    font-size: 20px;
    line-height: 33px;
  }
}
.blog-content-text h2 {
  margin-top: 5px;
  width: 254px;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
}
.blog-content-text p {
  margin-top: 25px;
  margin-bottom: 14px;
  width: 260px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .blog-content-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    width: 315px;
  }
}
@media screen and (min-width: 1360px) {
  .blog-content-text p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 17px;
    width: 600px;
  }
}
.blog-content-text button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 47px;
  background-color: #0284d0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
}
.blog-content-text button span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .blog-content-text button {
    width: 196px;
    height: 50px;
  }
  .blog-content-text button span {
    font-size: 18px;
    line-height: 28px;
  }
}
.blog-content-text button:hover, .blog-content-text button:focus {
  background: #e9e9e9;
}
.blog-content-text button:hover svg, .blog-content-text button:focus svg {
  fill: #0284d0;
}
.blog-content-text button:hover span, .blog-content-text button:focus span {
  color: #0284d0;
}
@media screen and (min-width: 768px) {
  .blog-content {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .blog-content-img {
    width: 384px;
  }
  .blog-content-img img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 1360px) {
  .blog-content-img {
    width: 680px;
  }
}
.team-content {
  padding: 50px 20px 50px 20px;
}
@media screen and (min-width: 768px) {
  .team-content {
    padding: 50px 30px 60px 30px;
  }
}
.team-content-title {
  text-align: center;
  color: #333333;
}
.team-content-title h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .team-content-title h3 {
    font-size: 20px;
    line-height: 33px;
  }
}
.team-content-title h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 35px;
}
.team-content-title p {
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (min-width: 768px) {
  .team-content-title p {
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1360px) {
  .team-content-title p {
    font-size: 18px;
    margin-bottom: 45px;
  }
}
.team-content-list-item {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
.team-content-list-item:not(:last-child) {
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .team-content-list-item:not(:last-child) {
    margin: 0px;
  }
}
@media screen and (min-width: 768px) {
  .team-content-list-item {
    width: 223px;
  }
}
@media screen and (min-width: 1360px) {
  .team-content-list-item {
    width: 420px;
  }
}
.team-content-list h4 {
  margin-bottom: 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 29px;
}
@media screen and (min-width: 768px) {
  .team-content-list h4 {
    font-size: 25px;
    line-height: 32px;
  }
}
.team-content-list p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (min-width: 768px) {
  .team-content-list p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .team-content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.team-content-link {
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition-property: box-shadow;
}
.team-content-link:hover, .team-content-link:focus {
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0px;
}
.team-content-link:hover .team-content-link-div, .team-content-link:focus .team-content-link-div {
  transform: translatey(0);
}
.team-content-link-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  transform: translatey(100%);
  transition-property: transform;
}
.team-content-link-list {
  display: flex;
  justify-content: space-between;
  width: 216px;
}
.team-content-link-list svg {
  fill: #ffffff;
  height: 35px;
}
.svg1 {
  width: 35px;
}
.svg2 {
  width: 40px;
}
.svg3 {
  width: 31px;
}
.footer {
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  color: #ffffff;
}
.footer ul {
  margin-bottom: 10px;
}
.footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (min-width: 768px) {
  .footer p {
    font-size: 18px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=index.f7626f62.css.map */
