<footer class="footer">
    <ul class="team-content-link-list">
        <li class="team-content-link-list-item">
          <a href="#">
            <svg class="svg1">
              <use href="./images/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="team-content-link-list-item">
          <a href="#">
            <svg class="svg1">
              <use href="./images/icon.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="team-content-link-list-item">
          <a href="#">
            <svg class="svg2">
              <use href="./images/icon.svg#icon-yuotube"></use>
            </svg>
          </a>
        </li>
        <li class="team-content-link-list-item">
          <a href="#">
            <svg class="svg3">
              <use href="./images/icon.svg#icon-linkedIn"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p>Copyright © 2021 - FinanceLedger</p>
</footer>