<header class="header-site">
    <div class="container">
        <nav class="header-nav">
            <!--Логотип ссылка-->
            <a class="logo" href="./index.html">
                <svg>
                    <use href="./images/icon.svg#icon-book-open"></use>
                </svg>
                <span>Finance<span>Ledger</span></span>
            </a>
            <ul class="header-links-pages">
                <li><a class="header-links-pages-current" href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Cases</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>