<section class="solutions">
  <div class="container">
    <div class="solutions-content">
      <picture class="solutions-content-img">
        <source
          srcset="./images/home/people.webp 1x, ./images/home/people@2x.webp 2x"
          type="image/webp"
        />
        <source
          srcset="./images/home/people.jpg 1x, ./images/home/people@2x.jpg 2x"
        />
        <img src="./images/home/people.jpg" alt="Фото сотрудников" />
      </picture>
      <div class="solutions-content-text">
          <h3>The Sky Is The Limit</h1>
      <h2>We provide bespoke solutions</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
      <button>
        <span>Read More</span>
      </button>
      </div>
    </div>
  </div>
</section>
