<section class="team">
  <div class="container">
    <div class="team-content">
      <div class="team-content-title">
        <h3>Who we are</h3>
        <h2>Our Professional Team</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente!
        </p>
      </div>
      <ul class="team-content-list">
        <li class="team-content-list-item">
          <div class="team-content-link">
            <picture class="team-content-img">
              <source
                srcset="
                  ./images/team/person1.webp    1x,
                  ./images/team/person1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team/person1.jpg    1x,
                  ./images/team/person1@2x.jpg 2x
                "
              />
              <img src="./images/team/person1.jpg" alt="Фото сотрудников" />
            </picture>
            <div class="team-content-link-div">
              <ul class="team-content-link-list">
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg1">
                      <use href="./images/icon.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg1">
                      <use href="./images/icon.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg2">
                      <use href="./images/icon.svg#icon-yuotube"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg3">
                      <use href="./images/icon.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <h4>John Doe</h4>
          <p>President</p>
        </li>
        <li class="team-content-list-item">
          <div class="team-content-link">
            <picture class="team-content-img">
              <source
                srcset="
                  ./images/team/person2.webp    1x,
                  ./images/team/person2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team/person2.jpg    1x,
                  ./images/team/person2@2x.jpg 2x
                "
              />
              <img src="./images/team/person2.jpg" alt="Фото сотрудников" />
            </picture>
            <div class="team-content-link-div">
              <ul class="team-content-link-list">
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg1">
                      <use href="./images/icon.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg1">
                      <use href="./images/icon.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg2">
                      <use href="./images/icon.svg#icon-yuotube"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg3">
                      <use href="./images/icon.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <h4>Jane Doe</h4>
          <p>Vice President</p>
        </li>
        <li class="team-content-list-item">
          <div class="team-content-link">
            <picture class="team-content-img">
              <source
                srcset="
                  ./images/team/person3.webp    1x,
                  ./images/team/person3@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team/person3.jpg    1x,
                  ./images/team/person3@2x.jpg 2x
                "
              />
              <img src="./images/team/person3.jpg" alt="Фото сотрудников" />
            </picture>
            <div class="team-content-link-div">
              <ul class="team-content-link-list">
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg1">
                      <use href="./images/icon.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg1">
                      <use href="./images/icon.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg2">
                      <use href="./images/icon.svg#icon-yuotube"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-content-link-list-item">
                  <a href="#">
                    <svg class="svg3">
                      <use href="./images/icon.svg#icon-linkedIn"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <h4>Steve Smith</h4>
          <p>Marketing Head</p>
        </li>
      </ul>
    </div>
  </div>
</section>
