<section class="team">
  <div class="container">
    <div class="team-content">
      <div class="team-content-title">
        <h3>Who we are</h3>
        <h2>Our Professional Team</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente!
        </p>
      </div>
      <ul class="team-content-list">
        <li>
          <picture class="team-content-img">
            <source
              srcset="
                ./images/home/people.webp    1x,
                ./images/home/people@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/home/people.jpg    1x,
                ./images/home/people@2x.jpg 2x
              "
            />
            <img src="./images/home/people.jpg" alt="Фото сотрудников" />
          </picture>
          <h4>John Doe</h4>
          <p>President</p>
        </li>
        <li>
          <picture class="team-content-img">
            <source
              srcset="
                ./images/home/people.webp    1x,
                ./images/home/people@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/home/people.jpg    1x,
                ./images/home/people@2x.jpg 2x
              "
            />
            <img src="./images/home/people.jpg" alt="Фото сотрудников" />
          </picture>
          <h4>Jane Doe</h4>
          <p>Vice President</p>
        </li>
        <li>
          <picture class="team-content-img">
            <source
              srcset="
                ./images/home/people.webp    1x,
                ./images/home/people@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/home/people.jpg    1x,
                ./images/home/people@2x.jpg 2x
              "
            />
            <img src="./images/home/people.jpg" alt="Фото сотрудников" />
          </picture>
          <h4>Steve Smith</h4>
          <p>Marketing Head</p>
        </li>
      </ul>
    </div>
  </div>
</section>
