.blog-content-text {
  background-color: $accent-color-two;
  div {
    padding: 30px;
    @media screen and (min-width: 1360px) {
      padding: 112px 30px 112px 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 50%;
  }

  h3 {
    color: $main-color;
  }
  h2 {
    margin-top: 5px;
    width: 254px;
    color: $main-color;
  }
  p {
    margin-top: 25px;
    margin-bottom: 14px;
    color: $main-color;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1360px) {
      margin-bottom: 17px;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 184px;
    height: 47px;

    background-color: $accent-color-two;
    border: 1px solid $main-color;
    box-sizing: border-box;
    border-radius: 5px;

    span {
      color: $main-color;
    }
    @media screen and (min-width: 768px) {
      width: 196px;
      height: 50px;
    }
    &:hover,
    &:focus {
      background: $text-accent-color;
      svg {
        fill: $accent-color-two;
      }
      span {
        color: $accent-color-two;
      }
    }
  }
}
.blog-content {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
.blog-content-img {
 

    background-image: url('../images/home/blog.jpg');
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
  @supports (gap: 1px) {
   
      background-image: url("../images/home/blog.webp");
  
  }
 
  // img {
  //   height: 100%;
  //   object-fit: cover;
  // }
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
